*{
	word-break: break-all;
	word-wrap: break-word;
}

#footer{
    position:absolute;
    bottom:0;
    width: 100%;
	background: rgba(0,0,0,0.3);
	color: black;
	font-weight: black;
}

#footer ul, #footer a, #footer{
	color: #666;
}

body{
    position: relative;
    min-height: 100%;
    min-height: 100vh;
    padding-bottom: 100px;
	background-color: rgba(0,0,0,0.5);
	background-image: linear-gradient(#111111,#111B2D,#111111);
	background-attachment: fixed;
	font-variant: normal;
}

label{
	font-weight: normal;
}

button, input, optgroup, select, textarea{
	font-variant: normal;
}

.button-inline{
	display: inline-block;
} 

.editor *{
	transition: opacity 0.5s ease;
}

#editor-header-title{
	font-size: 1.5em;
	border: 0;
	border-bottom: 2px solid #555;
}

.page-header{
	padding: 20px 30px 10px 15px;
	border: 0;
	margin: 10px -15px;
	background: rgba(255,255,255,0.85);
	color: black;
	display: inline-block;
	font-weight: bold;
}

.page-header *{
	color: black;
	font-weight: bold;
	margin: 0;
}

.page-header *{
	
}

.editor-new .editor-header *, .editor-new .editor-content-container, .editor-new .editor-content-label{
	opacity: 0;
}

.editor-content-container{
	border: 1px solid rgba(255,255,255,0.1);
	padding: 10px 0;
}

header{
	width: 100%;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.container-fluid{
	margin: 0;
}

header .container-fluid{
	vertical-align: middle;
}

.search-form{
	border: 1px solid white;
}

.navbar-brand img.header-logo{
	height: 100%;
	width: auto;
}

.navbar-brand div.header-title div{
	display: block !important;
}

.navbar-brand div.header-title{
	vertical-align: bottom;
}

.navbar-brand{
	vertical-align: middle;
}

.navbar-brand *{
	display: inline-block !important;
	color: white;
	word-wrap: break-word;
}

@media (max-width: 940px){
	.navbar-brand div{
		display: none !important;
	}
}

.body-content{
	color: #ddd;
}

input{
}

.navbar-nav > li {
	margin-left: 0;
}

.nav>li>*{
	padding: 10px 15px;
}

.navbar-header{
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-nav>li {
    padding-bottom: 10px;
}

.navbar-nav>li a.active{
	border-bottom: 2px solid white;
}

.navbar-toggle{
    border-color: white;
	color: black;
}

.navbar-toggle .icon-bar{
	background: white;
}


@media (min-width: 768px){
		.navbar-nav>li>* {
    	padding-top: 15px;
		padding-bottom: 10px;
	}
}

.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.editor .editor-image-show{
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	max-height: 70vw;
}

header a{
	color: white;
}

.editor-header #header-pic-show{
	width: 100%;
	display: block;
	background-size: cover;
	background-position: center;
	background-color: rgba(0,0,0,0.5);
	background-repeat: no-repeat;
}

input, button{
	border: 1px solid #557;
	background-color: rgba(0,0,0,0.2);
}

input[type="text"]{
	padding-left: 3px;
	padding-right: 3px;
}

.editor input[type="file"]{
    display: inline-block;
}

.editor button{
    display:inline-block;
}

.hidden{
    display:none;
}

.editor-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
}

.editor-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.editor-header img{
    min-width: 300px;
    min-height: 300px;
}

.editor-item .editor-record{
    flex: 1 0 80%;
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.editor-item .editor-record .panel{
    margin:0;
    text-align: left;
}

.editor-item .editor-item-number{
    flex: 0 0 3%;
    align-self: flex-start;
    min-width: 2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-radius: 0.1em;
    border-bottom: 3px solid #aaa;
    font-size: 1.2em;
}

.editor-item .editor-button{
    display: flex;
    flex: 1 0 6%;
    flex-direction: column-reverse;
    align-content: flex-end;
    align-items: flex-start;    
}

.editor-item .editor-button button{
    min-width: 70pt;
}

@media only screen and (max-width: 700px) {
    .editor-item .editor-button {
        flex-direction: row;
        max-height: 40px;
        justify-content: flex-end;
    }
	
	.editor-item .editor-button button{
		flex-shrink: 1;
		min-width: 0;
	}
	
    .editor-item .editor-record{
        text-align: center;
    }
    .editor-item .editor-record{
        padding-right: 0px;
    }

	.editor-item .editor-item-number{
		display: none;
	}
}

.editor-item .col-md-2 button{
    width: 100%;
}


.ukm-container{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.ukm-cover{
	width: 100%;
	height: 24vw;
	min-height: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.ukm-cover .ukm-item-facade{
	justify-content: flex-end;
}


.ukm-item{
	box-shadow: 2px 3px 5px black;
	margin: 5px;
	flex-basis: 250px;
	max-width: 300px;
	min-width: 200px;
	height: 40vw;
	flex-grow: 1;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.ukm-item *{
	color: white;
}

@media (max-width: 400px){
	.ukm-item{
		min-width: 100%;
	}
}

.body-ukm-detail{
	min-height: 100%;
}

.body-ukm-detail *{
	color: white;
}

.ukm-description{
	background: rgba(0,0,0,0.8);
	padding: 20px 5%;
	word-break: break-all;
}

.ukm-description *{
	color: white;
	transition: all 0.5s ease;
}

.ukm-description img{
	max-height: 30vw;
}

.ukm-item-facade{
	background: rgba(0,0,0,0.4);
	padding: 25px;
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column;
	align-content: stretch;
}

.ukm-item-facade>*{
}

.ukm-preview-title, .ukm-title{
	color: white;
	font-size: 2em;
	border-bottom: 2px solid rgba(255,255,255,0.1);
	padding: 3px 0;
	flex-grow: 0;
}

.ukm-preview-title:hover{
	border-bottom: 2px solid rgba(255,255,255,0.5);
}

.ukm-preview-content{
	color: white;
	flex-grow: 1;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	max-width: 100%;
	word-wrap: break-word;
	overflow: hidden;
}

.ukm-preview-content *{
	flex-basis: 100%;
	min-width: 100%;
	word-wrap: break-word;
	word-break: break-all;
	
}
.tag-list-item{
	margin: 1px;
	padding: 1px 3px;
	border-radius: 2px;
	border: 1px solid rgba(30,30,30,0.2);
}

.tag-list-item, .tag-list-item *{
	font-size: 0.9em;
	padding: 2px;
}

.tag-list-item .tag-list-remove{
	margin-left: 3px;
}

.tag-list-item .tag-list-remove:hover{
	padding: 1px;
	border: 1px solid rgba(30,30,30,0.2);
}


/*Summernote*/
.modal-dialog{
	color: white;
}

.modal-content{
	color: white;
}

.note-editor.note-frame .note-editing-area .note-editable.panel-body,
.note-editor.note-frame.codeview .note-editing-area .note-codable,
.note-editor.note-frame.panel.panel-default,
.note-editor.note-frame.panel.panel-default *,
.note-editor.note-frame .note-editing-area .note-editable{
	background: none;
	background-color: rgba(0,0,0,0);
}

.note-editor.note-frame.panel.panel-default .note-btn{
	background: rgba(255,255,255,0.9);
	
}

.note-editor.note-frame.panel.panel-default .note-btn *{
	color: black;
}

.note-editor.note-frame .note-editing-area .note-editable.panel-body{
	background-color: rgba(255,255,255,0.9);
	box-shadow: inset 0px 5px 10px black;
}
	