*{
	word-break: break-all;
	word-wrap: break-word;
}

#footer{
    position:absolute;
    bottom:0;
    width: 100%;
	background: rgba(0,0,0,0.3);
	color: black;
	font-weight: black;
}

#footer ul, #footer a, #footer{
	color: #ddd;
}

body{
    position: relative;
    min-height: 100%;
    min-height: 100vh;
    padding-bottom: 100px;
	background-image: linear-gradient(220deg,#FFE47A,#3D7EAA);
	background-attachment: fixed;
	font-variant: normal;
}

body{
    position: relative;
    min-height: 100%;
    min-height: 100vh;
    padding-bottom: 100px;
	background-image: linear-gradient(220deg,#FFE47A,#3D7EAA);
	background-attachment: fixed;
	font-variant: normal;
}

.dashboard{
	margin-top: 110px;
	background: rgba(77,104,136,0.4);
	border-radius: 9px;
	color: white;
	box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}

.dashboard a{
	color: white;
	display: block;
}

.dashboard a.active{
	background: white;
	color: #2d5986;
}

.dashboard a:hover{
	text-decoration: underline;
}

.dashboard-header, .dashboard-content{
	padding: 5px 14px 2px 14px;
}

.dashboard>*:first-child{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.dashboard>*:last-child{
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.dashboard-header{
	background-color: rgba(46,62,81,0.7);
	font-weight: bold;
	box-shadow: 0 3px 4px rgba(0,0,0,0.4);
}

.dashboard-content{
}

@media (max-width:767px){
	.dashboard, .dashboard *{
		display: none;
	}
}	

.card{
	background: #fff;
	margin-top: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 0;
	padding-right: 0;
	box-shadow: 0 3px 10px rgba(0,0,0,0.3);
}

label{
	font-weight: normal;
}

button, input, optgroup, select, textarea{
	font-variant: normal;
}

input[type="submit"], .button-submit, button{
	box-shadow: 0 3px 5px rgba(0,0,0,0.5);
}

input[type="submit"], .button-submit{
	background: #6db132;
	color: white;
}

.button-delete{
	background: #ce112d;
	color: white;
}

button{
	background: #2d5986;
	color: white;
}

.button-inline{
	display: inline-block;
}

.page-header{
	background: #fff;
	box-shadow: 0 3px 10px rgba(0,0,0,0.3);
	padding: 15px 30px 15px 15px;
	border: 0;
	margin: 30px 0px 15px -15px;
	display: inline-block;
	font-weight: bold;
}

.page-header *{
	font-weight: bold;
	margin: 0;
}

.page-header *{
	
}

#header{
	width: 100%;
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	background: linear-gradient(225deg,rgba(30,30,30,0.3),rgba(30,30,30,0.4));
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

#header a{
	color: white;
}

#header a:hover{
	color: black;
}

.navbar-nav > li {
	margin-left: 0;
}

.nav>li>*{
	padding: 10px 15px;
}

.navbar-header{
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-nav>li {
    padding-bottom: 10px;
}

.navbar-nav>li a.active{
	background: #3D7EAA;
}

.navbar-nav>li a.active:hover{
	background: white;
}

.navbar-toggle{
    border-color: white;
	color: #3D7EAA;
}

.navbar-toggle .icon-bar{
	background: white;
}

#header-login li{
	padding: 0;
}

#header-login span{
	color: white;
}

#header-login li>a{
	padding-top: 3px;
	padding-bottom: 3px;
}

.header-login-button{
	line-height: normal;
}

.header-login-button button{
	background: rgba(255,255,255,0.8);
	color: black;
	font-size: 0.5em;
	line-height: normal;
}

#header-login ul{
	margin: 0;
}

.container-fluid{
	margin: 0;
}

header .container-fluid{
	vertical-align: middle;
}

.login-form{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 15vh;
	margin-bottom: 15vh;
}

.login-form label{
	font-weight: bold;
}

.login-form>form{
	padding: 30px;
	border: 5px solid rgba(0,0,0,0.3);
}

.login-form>form>div{
	margin-top: 15px;
	margin-bottom: 15px;
}

.login-form>form>div input{
	width: 100%;
	font-size: 1.1em;
	padding: 3px;
}

.search-form{
	border: 1px solid white;
}

.navbar-brand img.header-logo{
	height: 100%;
	width: auto;
}

.navbar-brand div.header-title div{
	display: block !important;
}

.navbar-brand div.header-title{
	vertical-align: bottom;
}

.navbar-brand{
	vertical-align: middle;
}

.navbar-brand *{
	display: inline-block !important;
	color: white;
	word-wrap: break-word;
}

@media (max-width: 940px){
	.navbar-brand div{
		display: none !important;
	}
}

.body-content{
}

input{
}


@media (min-width: 768px){
		.navbar-nav>li>* {
    	padding-top: 15px;
		padding-bottom: 10px;
	}
}

.flex{
    display: flex;
}

.flex-column{
	display: flex;
	flex-flow: column nowrap;
}

.items-center{
    align-items: center;
}

.contents-center{
	align-content: center;
}

.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: flex-end;
}

.justify-start{
    justify-content: flex-start;
}

.notification-bar{
	background: linear-gradient(white,#eee);
	margin: 3px;
	border-radius: 3px;
}

.notification-bar, .notification-bar *{
	color: black;
	font-weight: bold;
	font-size: 0.9em;
}

input, button{
	border: 1px solid rgba(124,124,124,0.4);
	box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
}

input[type="text"]{
	padding-left: 3px;
	padding-right: 3px;
}

.editor-content input[type="file"]{
    display: inline-block;
}

.editor button{
    display:inline-block;
}

.hidden{
    display:none;
}

.editor-new .editor-header *, .editor-new .editor-content-container, .editor-new .editor-content-label{
	opacity: 0;
}

.editor-content-container{
	border: 1px solid rgba(255,255,255,0.1);
	padding: 10px 0;
} 

.editor *{
	transition: opacity 0.5s ease;
}

#editor-header-title{
	position: relative;
	margin:  0 0 40px 0;
	bottom: 40px;
	text-align: center;
	font-size: 1.2em;
	padding: 10px 5px;
	border: 0;
	border-bottom: 2px solid rgba(50,95,112,0.4);
}

.editor-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editor-header img{
    min-width: 300px;
    min-height: 300px;
}

.editor .editor-image-show{
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	max-height: 70vw;
}

.editor-header #header-pic-show{
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 50px;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.editor-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
}

.editor-header #header-pic-show input,
.editor-header #header-pic-show label
{
	display: inline-flex;
	margin: 0;
	padding: 4px;
	border-radius: 5px;
	border: 1px solid rgba(124,124,124,0.3);
	font-weight: bold;
	color: #999;
	background:  rgba(255,255,255,0.9);
}

.editor-header-input-group{
	padding: 3px 40px;
	display: flex;
	flex-flow: row wrap;
	align-items: stretch;
	justify-content: center;
}

.editor-header-input-control{
	margin: 6px;
	flex: 1 0 40%;
	border-radius: 3px;
	border: 1px solid rgba(124,124,124,0.3);
	padding: 30px;
	max-width: 400px;
}

.editor-header-input-control>*{
	width: 100%;
}

.editor-item .editor-record{
    flex: 1 0 80%;
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.editor-item .editor-record .panel{
    margin:0;
    text-align: left;
}

.editor-item .editor-item-number{
    flex: 0 0 3%;
    align-self: flex-start;
    min-width: 2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-radius: 0.1em;
    border-bottom: 3px solid #aaa;
    font-size: 1.2em;
}

.editor-item .editor-button{
    display: flex;
    flex: 1 0 6%;
    flex-direction: column-reverse;
    align-content: flex-end;
    align-items: flex-start;    
}

.editor-item .editor-button button{
    min-width: 70pt;
}

@media only screen and (max-width: 700px) {
	.editor-item .editor-record{
		min-width: 100%;
	}
	
    .editor-item .editor-button {
        flex-direction: row;
        justify-content: flex-end;
    }
	
	.editor-item .editor-button button{
		flex-shrink: 1;
		min-width: 0;
	}
	
    .editor-item .editor-record{
        text-align: center;
    }
    .editor-item .editor-record{
        padding-right: 0px;
    }

	.editor-item .editor-item-number{
		display: none;
	}
}

.editor-item .col-md-2 button{
    width: 100%;
}


.ukm-container{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.ukm-cover{
	width: 100%;
	height: 24vw;
	min-height: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.ukm-cover .ukm-item-facade{
	justify-content: flex-end;
}


.ukm-item{
	box-shadow: 2px 3px 5px black;
	margin: 5px;
	flex-basis: 250px;
	max-width: 300px;
	min-height: 60vh;
	height: 60vh;
	flex-grow: 1;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.ukm-item *{
	color: white;
}

@media (max-width: 400px){
	.ukm-item{
		min-width: 100%;
		max-width: 100%;
	}
}



.ukm-detail-body{
	min-height: 100%;
}

.ukm-detail-body *{
	color: white;
}

.ukm-description{
	background: rgba(0,0,0,0.8);
	padding: 20px 5%;
	word-break: break-all;
}

.ukm-description *{
	color: white;
	transition: all 0.5s ease;
}

.ukm-description img{
	max-height: 30vw;
}

.ukm-item-facade{
	background: rgba(0,0,0,0.4);
	padding: 25px;
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column;
	align-content: stretch;
}

.ukm-item-facade>*{
}

.ukm-preview-title, .ukm-title{
	color: white;
	font-size: 2em;
	border-bottom: 2px solid rgba(255,255,255,0.1);
	padding: 3px 0;
	flex-grow: 0;
}

.ukm-preview-title:hover{
	border-bottom: 2px solid rgba(255,255,255,0.5);
}

.ukm-preview-content{
	color: white;
	flex-grow: 1;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	max-width: 100%;
	word-wrap: break-word;
	overflow: hidden;
}

.ukm-preview-content *{
	flex-basis: 100%;
	min-width: 100%;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
}

.ukm-detail-pic{
	max-width: 100%;
}

.ukm-detail-pic img{
	width: 100%;
	height: auto;
}

.beasiswa-container{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.beasiswa-preview-item{
	box-shadow: 0 3px 5px rgba(0,0,0,0.6);
	flex: 1 0 455px;
	max-width: 500px;
	min-height: 279px;
	margin: 10px;
	display: flex;
	flex-flow: row wrap;
	margin-top: 100px;
}

.beasiswa-preview-title{
	text-align: center;
	position: relative;
	bottom: 40px;
}

.beasiswa-preview-title>*{
	display: inline-block;
	width: auto;
	background:white;
	padding: 5px 10px;
}

.beasiswa-preview-pic-border{
	background: linear-gradient(#147085, #519ab5);
	width: 100%;
	height: 145px;
	padding-bottom: 30px;
	box-shadow: inset 0 -3px 5px rgba(0,0,0,0.2);
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-end;
}

.beasiswa-preview-pic{
	box-shadow: 0 3px 5px rgba(0,0,0,0.1);
	border-radius: 50%;
	width: 173px;
	height: 173px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.beasiswa-preview-pic-plus{
	box-shadow: 0 3px 5px rgba(0,0,0,0.1);
	border-radius: 50%;
	width: 173px;
	height: 173px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.beasiswa-facade{
	background: #fff;
	flex-basis: 100%;
	display: flex;
	flex-flow: column;
	align-content: stretch;
}

.beasiswa-preview-description{
	padding: 0 10% 5px 10%;
	flex-grow: 1;
}

.beasiswa-addnew{
	align-self: center;
	align-items: center;
}

.beasiswa-addnew a{
	padding: 25px 50px;
	color: black;
}

.beasiswa-addnew a:hover{
	background: #519ab5;
	color: white;
}

.beasiswa-readmore{
	align-items: flex-end;
}

.beasiswa-readmore a{
	padding: 5px 10px;
	color: black;
	border-bottom: 2px solid #519ab5;
	border-right: 2px solid #519ab5;
}

.beasiswa-readmore a:hover{
	background: #519ab5;
	color: white;
}

@media (max-width: 500px){
	.beasiswa-preview-item{
		min-width: 100%;
		max-width: 100%;
	}
}

.beasiswa-detail-body{
	display: flex;
	flex-flow: row wrap;
}

.beasiswa-detail-header{
	padding: 10px;
	border: 1px solid rgba(100,100,100,0.3);
	flex: 1 0 300px;
	max-width: 300px;
	min-height: 430px;
}

.beasiswa-detail-header-buttons *{
	color: white;
}

.beasiswa-detail-description{
	background: rgba(0,0,0,0.6);
	padding: 15px;
	flex: 1 1 400px;
	max-width: 830px;
	min-height: 100px;
	font-size: 1.1em;
}

.beasiswa-detail-description *{
	color: #ddd;
}

@media screen and (max-width: 740px){
	.beasiswa-detail-header, .beasiswa-detail-body{
		flex-basis: 100%;
		max-width: 100%;
		min-width: 100%;
		min-height: 0;
		width: 100%;
	}
}

.tag-list-item{
	margin: 1px;
	padding: 3px 6px;
	border-radius: 4px;
	border: 1px solid rgba(255,255,255,0.2);
}

.tag-list-item, .tag-list-item *{
	font-size: 0.9em;
	padding: 3px;
}

.tag-list-item .tag-list-remove{
	margin-left: 3px;
}

.tag-list-item .tag-list-remove:hover{
	padding: 1px;
	border: 1px solid rgba(30,30,30,0.2);
}


/*Summernote*/
.modal-dialog{
	color: white;
}

.modal-content{
	color: white;
}

.note-editor.note-frame .note-editing-area .note-editable.panel-body,
.note-editor.note-frame.codeview .note-editing-area .note-codable,
.note-editor.note-frame.panel.panel-default,
.note-editor.note-frame.panel.panel-default *,
.note-editor.note-frame .note-editing-area .note-editable{
	background: none;
	background-color: rgba(0,0,0,0);
}

.note-editor.note-frame.panel.panel-default .note-btn{
	background: rgba(255,255,255,0.9);
	
}

.note-editor.note-frame.panel.panel-default .note-btn *{
	color: black;
}

.note-editor.note-frame .note-editing-area .note-editable.panel-body{
	background-color: rgba(255,255,255,0.9);
	box-shadow: inset 0px 2px 10px rgba(0,0,0,0.3);
}
	