body {
	margin: 0;
	padding: 0;
	width: 100%;
	display: table;
	font-weight: 100;
	font-family: 'Verdana';
}

.screen-vertical-center{
	min-height: 80%;
	min-height: 80vh;
	
	display: flex;
	align-items: center;
}